body {
    margin: 0;
    padding: 0;
}
main {
    width: 1000px;
    margin: 0 auto;
    background-color: #D3D3D3;
    text-align: center;
    padding: 20px;
}
.taches {
    display: flex;
}
h2 {
    text-align: left;
}
div {
    text-align: left;
}
.bar {
    text-decoration: line-through;
}